<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctrller_CB</servlet-name>
        <servlet-class>controller.Ctrller_CB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemDD_Servlet</servlet-name>
        <servlet-class>controller.ThemDD_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSChuyenBay_Servlet</servlet-name>
        <servlet-class>controller.CSChuyenBay_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemCB_Servlet</servlet-name>
        <servlet-class>controller.ThemCB_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaChuyenBay_Servlet</servlet-name>
        <servlet-class>controller.XoaChuyenBay_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaDiaDiem_Servlet</servlet-name>
        <servlet-class>controller.XoaDiaDiem_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSDiaDiem_Servlet</servlet-name>
        <servlet-class>controller.CSDiaDiem_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemHanhKhach_Servlet</servlet-name>
        <servlet-class>controller.ThemHanhKhach_Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTin_HK_CB_Servlet</servlet-name>
        <servlet-class>controller.ThongTin_HK_CB_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSHanhKhach_Servlet</servlet-name>
        <servlet-class>controller.CSHanhKhach_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaHanhKhach_Servlet</servlet-name>
        <servlet-class>controller.XoaHanhKhach_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctrller_CB</servlet-name>
        <url-pattern>/Ctrller_CB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemDD_Servlet</servlet-name>
        <url-pattern>/ThemDD_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSChuyenBay_Servlet</servlet-name>
        <url-pattern>/CSChuyenBay_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemCB_Servlet</servlet-name>
        <url-pattern>/ThemCB_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaChuyenBay_Servlet</servlet-name>
        <url-pattern>/XoaChuyenBay_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaDiaDiem_Servlet</servlet-name>
        <url-pattern>/XoaDiaDiem_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSDiaDiem_Servlet</servlet-name>
        <url-pattern>/CSDiaDiem_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemHanhKhach_Servlet</servlet-name>
        <url-pattern>/ThemHanhKhach_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTin_HK_CB_Servlet</servlet-name>
        <url-pattern>/ThongTin_HK_CB_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSHanhKhach_Servlet</servlet-name>
        <url-pattern>/CSHanhKhach_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaHanhKhach_Servlet</servlet-name>
        <url-pattern>/XoaHanhKhach_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
